body {
    font-family: Arial, sans-serif;
    color: #eee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.news-container {
    width: 80%;
    max-width: 800px;
    background-color: #333;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.news-list {
}

.news-item {
    border: 1px solid #555;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #444;
}

.news-item h2 {
    color: #ddd;
    margin-bottom: 5px;
}

.news-item p {
    line-height: 1.4;
    margin-bottom: 10px;
}

.news-item .news-date {
    font-size: 0.8em;
    color: #999;
}

.loading {
    text-align: center;
    margin-top: 20px;
    color: #ccc;
    display: none; /* Скрываем индикатор загрузки */
}
